@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
}

body {
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
}

.topimage {
    background-image: url(images/bg-pattern-top.svg);
    background-repeat: repeat;
    background-size: 300px 500px;
    background-position: center center;
}

.botimage{

}

main {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.bg-card {
    border-radius: 15px 15px 0 0;
}

.victor {
    text-align: center;
    margin-top: -15%;
}

.avatar {
    border-radius: 50px;
    border: 4px solid white;
    
}

.profile {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
}

.profile h4 {
    font-size: 18px;
    color: var(--very-dark-desaturated-blue);
}

.profile span, p {
    color: hsl(0, 0%, 59%);
    font-weight: normal;
}

.profile p {
    padding-top: 10px;
    font-size: 1em;
}

.stats {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info {
    text-align: center;
}

.info h4 {
    font-size: 18px;
}

.info p {
    font-size: .6em;
    letter-spacing: 1.5px;
    padding-top: 4px;
}