* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: rgb(24, 30, 14);
  
  .container {
    .row {
      
    }
  }
  
  .copyright{
    background-color: rgb(24, 30, 14);
    width: 100%;
    color: lightcyan;
    position: absolute;
  }

  @media screen and (max-width: 767px) {
      height: 600px;
      
    }
  }


h3 {
  color: greenyellow;
  font-size: 1.1rem;
  // -webkit-text-stroke: .4px white;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.627);
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

h3::after {
  content: '';
  width: 10%;
  background-color: green;
  display: block;
  height: 2px;
  transition: width .4s ease-in-out;
}

h3:hover::after {
  width: 30%;
}

p {
  color: rgb(172, 172, 172);
  cursor: pointer;
  display: block;
  transition: color .2s ease-in-out;
}

p::after {
  content: '';
  width: 0%;
  background-color: white;
  display: block;
  height: 2px;
  transition: width .4s ease-in-out;
}

p:hover::after {
  width: 30%;
}

p:hover {
  color: white;
}
