@font-face {
    font-family: 'Assassin';
    src: url(aAssassinNinja.otf) format('opentype'), url(aAssassinNinja.ttf) format('truetype');
    font-weight: normal;
    font-size: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 98.9vw;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
}

header h1 {
    text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.416);
}

header .head {
    padding-top: 30px;
}

.head p {
    color: orange;
}

/* CONTEUDO 1 */
.conteudo1 {
    background-image: url(imagens/shacoconteudo1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.conteudo1 h2 {
    text-align: center;
    font-family: 'Assassin', Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px 0;
    font-size: 2em;
    letter-spacing: 10px;
}

.conteudo1 div {
    width: 100%;
}

.skills {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.skills p {
    padding-top: 10px;
}

.conteudo1 article div > p {
    display: none;
}

.conteudo1 article div > span {
    color: orange;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.699);
}

.conteudo1 article div:hover > p {
    display: block;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}

/* CONTEUDO 2 */
.conteudo2 {
    background: white;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: justify;
    padding: 50px 70px;
    line-height: 45px;
    font-size: 1.5vw;
    font-weight: bold;
    box-shadow: inset 0px 5px 10px black;
}

.conteudo2 p {
    padding-left: 30px;
}

.conteudo2 img {
    width: 20vw;
}

/* CONTEUDO 3 */
.conteudo3 {
    padding: 50px;
    color: white;
    background-image: url(imagens/shaco1-1000.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.conteudo3 h2 {
    font-family: 'Assassin', Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    font-size: 2em;
    letter-spacing: 10px;
}

.conteudo3 ul {
    background-color: rgba(0, 0, 0, 0.496);
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.conteudo3 li span {
    color: orange;
}

/* CONTEUDO 4 */
.conteudo4 { 
    background: black;
    padding: 50px;
}

.conteudo4 h2 {
    color: white;
    padding-bottom: 20px;
    font-family: 'Assassin', sans-serif;
    letter-spacing: 10px;
    font-size: 2em;
}

.conteudo4 p{
    text-align: justify;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.333);
    line-height: 35px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

/* FOOTER */
footer {
    display: flex;
    background: radial-gradient(darkgray, rgb(84, 84, 84));
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 40px;
    margin: 0px 10px;
}

footer p {
    font-size: 1.3em;
}