@font-face {
    font-family: 'Assassin';
    src: url(aAssassinNinja.otf) format('opentype'), url(aAssassinNinja.ttf) format('truetype');
    font-weight: normal;
    font-size: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    width: 98.9vw;
    height: 100vh;
}

header {
    background-color: black;
    padding-bottom: 30px;
}

header h1 {
    text-align: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 3em;
    text-shadow: 5px 5px 2px rgba(255, 154, 154, 0.321);
    color: rgb(228, 228, 228);
    letter-spacing: 10px;
}

.head img {
    display: flex;
    width: 50px;
    margin: auto;
}

.head h2 {
    color: white;
    font-weight: normal;
    text-align: center;
}

.head p {
    text-align: center;
    color: orange;
    padding-top: 10px;
}

.head {
    margin: 20px;
}

.conteudo1 p {
    padding: 50px 0px;
    font-size: 1.5em;
    line-height: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.282);
}

.conteudo1 {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
}

.conteudo1 img {
    width: 30vw;
    height: 100%;
}

article {
    height: 40vh;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.habilidades {
    padding-bottom: 5vh;
}

.conteudo2 {
    background-image: url(imagens/zedconteudo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
}

.conteudo2 .habilidades {
    font-family: 'Assassin', sans-serif;
    letter-spacing: 10px;
}

.conteudo2 h1 {
    text-align: center;
    font-size: 2em;
    color: white;
}

.conteudo2 div {
    width: 100%;
}

.conteudo2 article div > h1 {
    font-size: 1em;
    padding: 20px;
}

.conteudo2 article div > p {
    display: none;
}

.conteudo2 article div > span {
    color: orange;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.699);
}

.conteudo2 article div:hover > p {
    display: block;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}

.conteudo3 { 
    background: black;
    padding: 50px;
}

.conteudo3 h2 {
    color: white;
    padding-bottom: 20px;
    font-family: 'Assassin', sans-serif;
    letter-spacing: 5px;
}

.conteudo3 p{
    text-align: justify;
    padding: 20px 30px;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.333);
    line-height: 35px;
    background-color: white;
    border-radius: 20px;
}

.conteudo4 {
    background-image: url(imagens/zedconteudo4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    padding: 50px;
    color: white;
}

.conteudo4 h2 {
    padding-bottom: 20px;
    font-size: 2em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.571);
    font-family: 'Assassin', sans-serif;
    letter-spacing: 10px;
}

.conteudo4 ul {
    background-color: rgba(0, 0, 0, 0.633);
    display: inline-block;
    list-style-position: inside;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 20px;
}

.conteudo4 ul li {
    padding-bottom: 10px;
}

.conteudo4 ul li > span {
    color: orange;
}

footer {
    display: flex;
    background: radial-gradient(darkgray, rgb(84, 84, 84));
    color: white;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 40px;
    margin: 0px 10px;
}

footer p {
    font-size: 1.3em;
}


@media (max-width: 1300px) {
    .conteudo1 img {
        display: none;
    }
}